<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Document{% endblock %}</title>
</head>
<body>
<h1>Navbar</h1>
<hr>
{% block body %}
    Valeur par défaut
{% endblock %}
<hr>
<h2>Footer</h2>
</body>
</html>