{% extends 'base.html.twig' %}

{% block body %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ personne.id }} - {{ personne.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ personne.age }} ans </h6>
            <a href="#" class="card-link">Delete {{ personne.name }}</a>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

