{% extends 'base.html.twig' %}
{% block pageTitle %}
    Gestionnaire de todo
{% endblock %}
{% block body %}
    <ol class="list-group">
        {% for todoName,todoContent in app.session.get('todos') %}
            <li class="list-group-item">
                {{ todoName }} : {{ todoContent }}
                <a href="{{ path('todo_delete', {name:todoName }) }}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block title %}
    Todos
{% endblock %}